<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.source.code.activity">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/socs_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SCOSEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:permission="scos.permission.ACCESSSCOS">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="scos.intent.category.SCOSLAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginOrRegister"
            android:label="@string/title_activity_login_or_register" />
        <activity
            android:name=".FoodView"
            android:label="@string/title_activity_food_view"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.source.code.activity.MainScreen" />
        </activity>
        <activity
            android:name=".FoodOrderView"
            android:label="@string/title_activity_food_order_view"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.source.code.activity.MainScreen" />
        </activity>
        <activity
            android:name=".FoodDetailed"
            android:label="@string/title_activity_food_detailed"
            android:parentActivityName=".FoodView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.source.code.activity.FoodView" />
        </activity>
        <activity
            android:name=".SCOSHelper"
            android:label="@string/title_activity_scoshelper"
            android:parentActivityName=".MainScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.source.code.activity.MainScreen" />
        </activity>
    </application>

</manifest>